/*
在css中我们这样注释

The 'padding' property is a shorthand property for setting 'padding-top',
'padding-right', 'padding-bottom', and 'padding-left' at the same place in
the style sheet.

If there is only one value, it applies to all sides. If there are two
values, the top and bottom paddings are set to the first value and the
right and left paddings are set to the second. If there are three values,
the top is set to the first value, the left and right are set to the
second, and the bottom is set to the third. If there are four values, they
apply to the top, right, bottom, and left, respectively.

*/

body {
    margin: 0px;
    /* originally from the text book I think*/
    /*font-family: Verdana, Helvetica, Arial, sans-serif;*/
    /* css websafe fonts from w3.org */
    /*font-family: Arial, Helvetica, sans-serif;*/
    /* from fedoraproject.org */
    font-family: Cantarell,"Droid Sans",Verdana,sans-serif;
    background-color: #e2edff;	/*这个16进制数表示淡蓝色*/
    line-height: 125%;
    padding: 0;
}

li {
    font-size: medium;
}

a {
    text-decoration: none;
    color: #0099cc;
}

a:hover {
    text-decoration: underline;
    color: white;
    background-color: #a2ccff;
}

em {
    text-transform: uppercase;
}

/* for fully compatible with all browsers
 */
del {
    text-decoration: line-through;
}

h1, h2, h3 {
    color: navy;
}
h1 {
    font-size: x-large;
    margin: 20px;
}
h2 {
    margin: 0.5em 0 0;
    font-size: large;
    font-weight: bold;
    text-decoration: none;	/*另有none, overline, line-through */
}
h3 {
    margin: 0;
    font-size: medium;
    font-weight: bold;
}

p {
    text-indent: 0em;
    font-size: medium;
    color: navy;	/*navy是海蓝色*/
    margin: 0 0 1.1em 0;
}

#header p {
    font-family: Georgia, Times, serif;
    font-style: italic;
}

#header {
    margin: 0px 5% 0px;
    padding: 3px;
    background: url(../img/pic_header.jpeg) repeat-x center;
    /* CSS3 border-radius */
    border-radius: 0.5em 0.5em 0 0;
}

#wecando {
    margin: 0 5%;
    padding: 0.3em 0 0.5em 0;
    background-color: #e2edff;
    height: 1.2em;
}

#wecando ul {
    margin: 0;
    padding: 0 0 0 0;
}

#wecando li {
    display: inline;
    list-style-type: none;
    font-size: large;
}

#wecando a {
    margin: 0;
    padding: 0.3em 0.2em 0.5em 0.2em;
    border-radius: 5px;
}

#surfing {
    /*border: 1px solid red;*/
    position: relative;
    margin: 0 10% 0 20%;
    padding: 20px 0px 20px 0px;
    /*left: 40%;*/
    /*width: 55%;*/
}

#wecando a, #surfing a, #resources a, #songs a, #music a {
    text-decoration: none;
}

#version, #releasenoteshead, #releasenotes, #copyright, #why_write_this, #oggintro, #songs, #music, #aboutme, #introduction {
    padding: 0 20px;
}

#image {
    /*border: 1px solid red; */
    text-align: center;
    margin: 0px auto;
}
#image_box_container {
    display: block;
    width: 800px;
    height: 520px;
    margin: 0 auto;
    text-align: center;
}
#image_box  {
    margin: 0;
    width: 800px;
    height: 520px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/*
#header, #sitebranding, #timer, #weather, #tagline, #wecando, #search, #maincontent, #surfing, #resources, #bottom {
	border: 1px solid red;
	padding: 2px;
	margin-bottom: 2px;
}
*/

#timer {
    /*border: 1px solid red;*/	
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 50%;*/
    /*width: 25%;*/
    /*height: 3em;*/
    /*margin: 0;*/
    /*padding: 0px;*/
    font-size: 0.9em;
    color: green;
}
#tagline {
    width: 50%;
}

#weather {
    /*border: 1px solid red;*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 70%;*/
    height: 50px;
    /*width: 20%;*/
}

#search {	
    /*border: 1px solid red;*/
    /*position: absolute;*/
    /*top: 55px;*/
    /*left: 50%;*/
    /* width: 40%; */
}

#maincontainer {
    background-color: #f0ffff;
    margin: 0 5% 0 5%;
    padding: 0.5em 0 1.5em 0;
}

#sidebar {
    /*border: 1px dashed red;*/
    float: right;
    width: 22%;
    margin: 0 0 0 auto;
    padding: 0;
    /*background-color: #dcdcdc;*/
    /*background-color: rgba(220, 220, 220, 0.3);*/
    /*background: -moz-linear-gradient(left, #f0ffff, #e2edff); [> ff 3.6+ <]*/
    /*background: -webkit-linear-gradient(left, #f0ffff, #e2edff);*/
}

#maincontent {
    /*border: 1px solid red; */
    /*margin: 0 25% 0 5%;*/
    margin: 0;
    padding: 0 0 0 1em;
    width: 75%;
}

#content-area {
    margin: 0;
    padding: 0 20px;
}

#back2top {
    text-align: center;
}

#bottom {
    /*border: 1px solid red;
     */
margin: 0px 5% 0px;
padding: 10px;
text-align: center;
/*background: url(../img/pic_bottom.jpeg) repeat-x bottom;*/
background-color: #e0fffe;
border-radius: 0 0 0.5em 0.5em;
}
#bottom p {
    margin: 1px;
}
#resources {
    position: relative;
    left: 30%;
    width: 60%;
    margin: 0px;
    padding: 10px;
}

#huochepiao object {
    margin: 10px;
    padding: 0;
    height: 100px;
    width: 600px;
}

#bgp-libra {
    background-color: purple;
    background-image: url(../img/libra.jpg);
}

#bgp-libra p {
    color: navy;
    width: 61.8%;
    margin-left: 12px;
}

/* class definition
 */
.focus {
    background-color: #f0ffff;
}

.fun {
    color: #339999;
    font-family: Georgia, Times, serif;
    letter-spacing: 0.05em;
}

.tiny {
    font-size: small;
}
.tiny p {
    font-size: small;
}
.festival {
    color: red;
}

/* inside my site */
.shadow {
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}
.shadow a {
    color: rgb(36, 109, 56);
    text-decoration: none;
}
.shadow a:hover {
    color: rgb(96, 73, 141);
    text-shadow: 2px 2px 2px rgba(36, 109, 56, 0.5);
}
.here {
    color: rgb(36, 109, 56);
    text-decoration: none;
}

.box_rgba {

    background-color: #B4B490;

    background:transparent;

    /*
     * IE6,IE7 
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490');
     * IE8 
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490')";
     zoom: 1;
     */

    background-color: rgba(180, 180, 180, 0.6); /* FF3+, Saf3+, Opera 10.10+, Chrome */

}
.surfing a {
    background: #00c8c8;
    /*background-color: rgba(255, 255, 0, 0.6);*/
    border-radius: 5px;
    color: white;
    padding: 0 0.15em;
}
.surfing a:hover {
    color: yellow;
    font-weight: bold;
}
.surfing a:focus {
    color: yellow;
}

.bubble {
    position:relative;
    padding:0px;
    margin:1em 3em 3em;
    width: 80%;
    color:#fff;
    background:#075698;

    border-radius: 10px;

    background: -webkit-gradient(linear, left top, left bottom, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(top, #f9d835, #f3961c);
    background:-o-linear-gradient(top, #f9d835, #f3961c);
    background:linear-gradient(top, #f9d835, #f3961c);
}

.bubble:after {
    /* \0000a0 means the html entity &nbsp;
     * in css
     */
    content: "\0000a0";
    width: 0px;
    height: 0px;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: #f3961c transparent transparent transparent;
    position: relative;
    z-index: +1;
    bottom: -30px;
    left: 500px;
}

.version {
    text-decoration: underline;
}

.cmdinline {
    color: #000;
    background-color: #f9f9f9;
    /*border: 1px dashed #2f6fab;*/
    font-weight: normal;
    margin: 2px;
}

pre {
    color: #000;
    background-color: #f9f9f9;
    border: 1px dashed #2f6fab;
    font-weight: normal;
    max-height:20em; 
    overflow:auto;
    margin: 20px;
}

form fieldset {
    border: 1px none navy;
    padding: 10px;
}

form legend {
    font-weight: bold;
}

form.login label {
    display: block;
    width: 200px;
    float: left;
}

form input {
    /*background: gray;*/
    color: blue;
    padding: 1px;
    /*border-width: 1px;*/
    /*border-style: solid ;*/
    /*border-color: #999999 #cccccc #cccccc #999999;*/
}

#search form input[type="text"] {
    /*color: yellow;*/
    width: 13em;
}

form.login .buttonarea {
    background-color: #0066ff;
    text-align: center;
}

form.zodiac label {
    display: block;
    width: 100px;
    float: left;
}

div.panel,p.flip
{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#e5eecc;
    border:solid 1px #c3c3c3;
}
div.panel
{
    /*height:120px;*/
    /*display:none;*/
}

ol.cjk {
    list-style-type: cjk-ideographic;
}

.ascii {
    font-size: larger;
    text-align: center;
}

.latex {
    /*font-family: "Computer Modern", "Latin Modern Roman", Times, "Times New Roman", serif;*/
    /* It is stange that Chrome doesn't display "Computer Modern". */
    /* It just show wide blank spaces. */
    font-family: Times, serif;
    letter-spacing: 1px;
}
.latex sup {
    font-size: 0.85em;
    letter-spacing: 1px;
    margin-left: -0.36em;
    margin-right: -0.15em;
    text-transform: uppercase;
    vertical-align: 0.15em;
}
.latex sub {
    font-size: 1em;
    margin-left: -0.1667em;
    margin-right: -0.125em;
    text-transform: uppercase;
    vertical-align: -0.5ex;
}

.nowrap {
    overflow: visible;
    white-space: nowrap;
}
