/*
 * SEE ALSO http://en.wikipedia.org/wiki/Lavender_%28color%29
 */

.tr-even {
    /* lavender floral */
    /*background-color: #B57EDC;*/
    /* lavender blush */
    background-color: #FFF0F5; 
}
.tr-odd {
    /* lavender web color */
    /*background-color: lavender; */
    /* lavender mist */
    background-color: #E6E6FA; 
}

.smileys td {
    width: 50%;
}
.smileys table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
}
.smileys table td {
    border: 1px solid green;
}
